
<head>
  
  <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


  <div class="mySlides w3-display-container w3-center">
    <img class="img-responsive" src="../../assets/images/pgg.jpg" style="width:100%">
  </div>
  <!-- <div class="mySlides w3-display-container w3-center">
    <img src="../../assets/images/img33.png" height="670" style="width:100%"> 
  </div>-->
  <div class="mySlides w3-display-container w3-center">
    <img class="img-responsive" src="../../assets/images/img11.jpg" style="width:100%">
  </div>


<router-outlet></router-outlet>
