<div class="wrapper container-fluid">
<div class="row"  style="margin-top:3%;margin-bottom:2%;">
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <button class="btn" (click)="viewStatus()" >
        View status
    </button>
  </div>
  <div class="col-md-3">
    <button
        class="btn" 
        (click)="setSeat()">
        Set seat
    </button>
  </div>
  <div class="col-md-3">
    <button
        class="btn" 
        (click)="clearSeat()">
        CLEAR SEAT
    </button>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-5">
      <div align="center" style="font-family: 'Yantramanav';margin-top: 4%;" *ngIf= viewStatusVar>
          <div class="panel panel-default" >
            <div class="panel-body">
                <div style="font-size: 150%"><b>TO VIEW</b></div><br>   
      <select [(ngModel)]= "seatclass.depValue"  class="list" >
        <option value="IT">IT</option>
        <option value="CSE">CSE</option>
        <option value="ECE">ECE</option>
        <option value="CHEM">CHEM</option>
        <option value="EEE">EEE</option>
        <option value="MECH">MECH</option>
        <option value="MCA">MCA</option> 
    </select> &nbsp; &nbsp;
    <!--{{seatclass.depValue}} -->
    <select [(ngModel)]= "seatclass.year" class="list" >
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
      <option value="2023">2023</option> 
      <option value="2024">2024</option>
      <option value="2025">2025</option>
      <option value="2026">2026</option>
      <option value="2027">2027</option>
      <option value="2028">2028</option>
      <option value="2029">2029</option>
      <option value="2030">2030</option> 
    </select> 
    <!--{{seatclass.year}} --><br>

    <button class="btn" style="background-color: #00001a;color: aliceblue;width: 100%; width:20%;margin-top: 2%;" 
    (click)="search()">
    Search 
    </button><br>
    <label for="Depat_name">Department Name</label>: {{dep}}<br>
    <label for="Seat_alloc">Available Seats </label>: {{seat}}
  </div>
  </div>
  <div class="col-md-3"></div>
</div>
</div>
<div class="row">
    <div class="col-md-1"></div>
            <div class="col-md-11">
                    <div class="setseat">
                    <div class="seatslec"  *ngIf= showListBoxVar style="text-align:center">
                          SELECT YEAR <br>
                      <select [(ngModel)]= "naduraathiri_year" align="center" class="list"  (click)="aandavarFunction()">
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option> 
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option> 
                      </select> 
                    </div>
                    </div>

          
        <!--{{naduraathiri_year}} -->



                    <div *ngIf= setSeatVar style="text-align:center">
                      DEPARTMENTS<br>
                      <div class="rbtn"> 
                          <span *ngFor="let department of department_arr ; let i = index ">
                      
                              <input  type="text" placeholder=" {{department}}"
                              [(ngModel)]="seatValue_arr[i]"> <br>
                          
                          </span>
                      </div>
            

            
                      <button
                          class="btn" style="background-color: #00001a;color: aliceblue; width:20%;margin-top: 2%;margin-left: 1%;"
                          (click)="allocateSeat()">
                          DO ALLOCATE
                      </button><br>
                  </div>  
            </div>
    <div class="col-md-1"></div>
    </div>
 

<span *ngFor="let val of seatValue_arr ; let i = index" >
<!--{{val}} : index{{i}} -->
<br>
</span>
<div class="row">
    <div class="col-md-3"></div>
            <div class="col-md-5">
              <p align="center"*ngIf= clearSeatVar style="text-align:center">SELECT YEAR<br>

                <select  [(ngModel)]= "naduraathiri_year" class="form-group"  (click)="deletefac()">
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option> 
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option> 
              </select> <br>
              *note:Select Alloction Must be Deleted For the Selected Year
              </p> 
              </div>
           <div class="col-md-3"></div>
  </div>


 

  