<head>
  
  <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->


  <head>
  
    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <div class="w3-dropdown-hover w3-mobile">
    <button 
    class="w3-button"
    (click)="dashboardFunction()"
    >Seat Allocation</button> 
  </div>
  <div class="w3-dropdown-hover w3-mobile">
    <button
     class="w3-button"
     
     >Admission</button>
    </div>
  


    <router-outlet></router-outlet>